/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, div, span, h1, h2, h3, h4, a, p, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {
  font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
}

a:hover {
  cursor: pointer;
}

p.subheader {
  font-weight: bold;
}

button{
  width: 100%;
  font-weight: bold;
}

.btn-primary {
  color: white;
  border: solid 1px #8d0005;
  background-color: #d90007;
  background: linear-gradient(#d90007, #c91400);
  border-radius: 3px;
  font-size: 14px;
  padding: 7px 0;
  /*box-shadow: 0 1px 1px rgba(0,0,0,0.3);*/
}

.btn-primary:hover {
  background-color: #ed0008;
  background: linear-gradient(#ed0008, #dd1600);
}

a {
  text-decoration: none;
  color: #0073bb;
  font-size: 100%;
}

h1 {
  font-size: 36px;
}

.column-1-2 {
  width: 50%;
}

.column-1-3 {
  width: 33.3333%;
}

.column-2-3 {
  width: 66.6667%;
}

.column-alpha {
  padding: 0 15px;
  width: 66.6667%;
  box-sizing: border-box;
}

.column-beta {
  padding: 0 15px;
  width: 33.3333%;
  box-sizing: border-box;
}

.col-full {
  width: 100%;
}

h2 {
  font-size: 22px;
  color: #d32323;
  font-weight: bold;
}

h2 b {
  color: rgb(51, 51, 51);
  font-weight: normal;
}

input {
  padding: 5px 9px;
  border-radius: 3px;
  border: solid 1px #999;
  width: 100%;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 14px;
  height: 30px;
}

select {
  height: 30px;
  box-sizing: border-box;
  padding: 5px 9px;
  width: 100%;
  font-size: 14px;
  border-radius: 3px;
  background-color: #FFF;
  border: solid 1px #999;
  color: #777777;
}

option {
  padding: 5px 9px;
}

body {
  font-size: 14px;
}

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.v-box {
  display: flex;
  flex-direction: column;
}

.h-box {
  display: flex;
  flex-direction: row;
}

.max-w-1020 {
  max-width: 1020px;
}

.center {
  margin: 0 auto;
}

.welp-logo-wrapper {
  display: flex;
}
