.biz-index-container {
  width: 100%
}

.biz-index {
}

.biz-index-item-container {
  border-bottom: 1px solid #e6e6e6;
  padding: 17px 0;
  box-sizing: border-box;
}
.biz-index-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.biz-main-listing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}

.biz-detail {
  display: flex;
  flex-direction: row;
}

.biz-media {
  height: 90px;
  width: 90px;
  margin-right: 12px;
}

.biz-name {
  margin-bottom: 6px;
}

.biz-rating {
  margin: 6px 0;
}

.biz-review-preview {

}


/* Business Search Container */
.biz-search-container {
  display: flex;
  flex-direction: column;
  min-width: 1020px;
  padding-bottom: 36px;
}



.biz-search-wrap {
  padding: 15px;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  max-width: 1020px;
  margin: 0 auto;
}

.biz-btn {
  width: 150px;
}

/* temp */
.biz-btn a {
  color: white;
}
