.biz-index-container {
  width: 100%
}

.biz-index {
}

.biz-index-item-container {
  border-bottom: 1px solid #e6e6e6;
  padding: 17px 0;
  box-sizing: border-box;
}
.biz-index-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.biz-review-preview img {
  object-fit: cover;
  width: 30px;
  height: 30px;
}

.biz-review-preview p {
  text-overflow: ellipsis;
}

.biz-main-listing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}

.biz-detail {
  display: flex;
  flex-direction: row;
}

.biz-media {
  object-fit: cover;
  height: 90px;
  width: 90px;
  margin-right: 12px;
  border-radius: 4px;
}

.biz-name {
  margin-bottom: 6px;
  font-size: 16px;
}

.biz-rating {
  margin: 6px 0;
}

.biz-review-preview {
  align-items: center;
}


/* Business Search Container */
.biz-search-container {
  display: flex;
  flex-direction: column;
  min-width: 1020px;
  padding-bottom: 36px;
}

.biz-search-wrap {
  padding: 15px;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  max-width: 1020px;
  margin: 0 auto;
}

.biz-btn {
  width: 150px;
}

.biz-btn a {
  color: white;
}

.biz-review-preview p {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 15px;
  white-space: nowrap;
}
