.biz-show-container {
  width: 100%;
  background-color: gray;
  height: 400px;
}

.biz-page-main {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
}

.biz-page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid 1px red;
}

.biz-info-media {
  justify-content: space-between;
}

.biz-info {
  width: 33%;
  border: solid 3px magenta;
}

.biz-edit-link {
  float: right;
  margin: 1px 3px;
  border: solid 3px blue;
}

.biz-header-left {
  border: solid 3px green;
  height: 100px;
}

.biz-header-right {
  border: solid 3px orange;
  height: 100px;
}

.biz-info-media {
  border: solid 3px yellow;
  height: 100px;
}

.biz-album {
  border: solid 3px purple;
  height: 100px;
}

.biz-map-cropped {
  float: left;
  display: inline-block;
}

.biz-map-cropped h1 {
  display: inline-block;
}

.biz-full-address {
  float: left;
  display: flex;
}

.biz-full-address p {
  display: inline-block;
}
