.biz-show-container {
  height: 400px;
  padding: 15px 0 24px 0;
}

.biz-show-container a:hover {
  text-decoration: underline;
}

.biz-page-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.biz-page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 9px;
}

.biz-info-media {
  justify-content: space-between;
}

.biz-info {
  box-sizing: border-box;
  width: 300px;
  padding: 5px;
  border: solid 1px #ccc;
  background: white;
}

.biz-edit-link {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
}

.biz-edit-link a {
  font-size: 12px;
  align-self: center;
  margin-left: 3px;
}

.biz-header-right {
  display: flex;
  justify-content: center;
}

.biz-info-media {
  display: flex;
}

.biz-album {
  height: 100%;
}

.biz-album div {
  display: flex;
}

.biz-album h1 {
  height: 210px;
  width: 210px;
  align-self: center;
  border: 1px solid #ccc;
}

#img-2 {
  height: 235px;
  width: 236px;
}

.biz-map-cropped {
  float: left;
  align-items: center;
  height: 135px;
  border: 1px solid #ccc;
}

.biz-map-cropped img {
  max-width: 100%;
  max-height: 100%;
}

.biz-map-cropped h1 {
  display: inline-block;
}

.biz-full-info {
  margin: 5px;
  position: relative;
}

.btn-container {
  justify-content: center;
  align-items: center;
}

.btn-review {
  width: 160px;
  height: 36px;
}

.biz-icon {
  display: flex;
  justify-content: center;
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 3px;
}

.fa-pencil {
  color: #0073bb;
}

.biz-full-address {
  font-weight: bold;
}

.biz-full-info div:not(:last-child) {
  margin-bottom: 3px;
}

.biz-header-left div:not(:last-child) {
  margin-bottom: 9px;
}

.biz-header-left h1 {
  font-weight: bold;
}

.top-shelf {
  border-bottom: solid 1px #e6e6e6;
  background-color: #f5f5f5;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 418px;
  width: 100%;
}

.widget .header .sources .source.active {
    background-color: #d32323 !important;
}

.widget .header {
    min-height: 51px;
    border-color: #d32323 !important;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    position: relative;
}
/* Review Index */
.review-index-container {
  margin: 0 15px;
}

/* Review Index Item */
li.review-index-item {
  border-bottom: 1px solid #e6e6e6;
  padding: 18px 0 17px 0;
  margin: 0;
}
