.biz-show-container {
  height: 400px;
  padding: 15px 0 24px 0;
}

.biz-page-main {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  height: 100%;
  width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.biz-page-header {
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-between;
  border: solid 1px red;
}

.biz-info-media {
  justify-content: space-between;
}

.biz-info {
  padding: 5px;
  border: solid 1px magenta;
}

.biz-edit-link {
  float: right;
  margin: 1px 3px;
  border: solid 1px blue;
}

.biz-header-left {
  border: solid 1px green;
  height: 100px;
}

.biz-header-right {
  border: solid 1px orange;
  display: flex;
  justify-content: center;
  height: 100px;
}

.biz-info-media {
  border: solid 1px yellow;
  display: flex;
}

.biz-album {
  position: relative;
  border: solid 1px purple;
  width: 66.6667%;
  height: 100%;
}

.biz-album h1 {
  height: 220px;
  width: 220px;
}

#img-2 {
  height: 250px;
  width: 250px;
}

.biz-map-cropped {
  float: left;
  align-items: center;
  display: inline-block;
  height: 135px;
}

.biz-map-cropped img {
  max-width: 100%;
  max-height: 100%;
}

.biz-map-cropped h1 {
  display: inline-block;
}

.biz-full-address {
  margin-top: 5px;
}

.biz-full-address p {
  display: inline-block;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-review {
  width: 160px;
  height: 36px;
}

.top-shelf {
  border-bottom: solid 1px #e6e6e6;
  /*background-color: #f5f5f5;*/
  background-color: gray;
  z-index: -1;
  position: absolute;
  bottom: 0;
  top: -9999px;
  left: -9999px;
  right: -9999px;
}
