.biz-header {
  background-color: #d32323;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 100%;
  min-width: 1020px;
}

.biz-header a {
  color: white;
  font-size: 40px;
}

.main-header-nav-wrapper {
  width: 100%;
  background-color: #bd1f1f;
  justify-content: center;
}

.main-header-nav {
  width: 1020px;
  padding: 0 15px;
  justify-content: space-between;
}

.header-nav-link {
    color: #fff;
    display: inline-block;
    padding: 3px 15px;
    font-size: 13px;
    font-weight: bold;
    line-height: 21px;
}

.header-nav-link:hover {
  background: rgba(51,51,51,0.3);
}

.biz-header input {
  padding: 5px 9px;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 14px;
  height: 30px;
}

.biz-header .search-find-wrapper {
  width: 500px;
  height: 35px;
}

.biz-header .search-bar {
  min-width: 500px;
  margin-left: 15px;
}

.biz-header button.search-button {
  background: #bd1f1f;
  padding: 11px 10px 11px;
}

.biz-header button.search-button:hover {
  background: #a71c1c;
}

.biz-header .main-header a {
  padding: 8px 11px 10px 11px;
}

.biz-header .main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}
