// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review-form-container {
  padding: 15px 15px 36px 15px;
  max-width: 1020px;
  min-width: 1020px;
  margin: 0 auto;
}

/* Review Index */
.review-index-container {
  border-right: 1px solid #e6e6e6;
  padding-right: 30px;
  margin-left: 15px;
}

.review-index-container h2 {
  padding: 0 15px;
}

/* Review Index Item */
li.review-index-item {
  border-bottom: 1px solid #e6e6e6;
  padding: 18px 0 17px 0;
  margin: 0;
  margin-left: 15px;
}

.user-info-wrapper {
  padding-right: 15px;
  margin-top: 6px;
  width: 37.5%;
}

.review-sample-wrapper .user-info-wrapper {
  align-items: center;
}

.review-sample-wrapper ul li:first-child {
  padding-top: 0;
}

.review-main {
  width: 62.5%;
}

.user-profile-pic {
  margin-right: 9px;
  object-fit: cover;
  border-radius: 4px;
  height: 60px;
  width: 60px;
}

.review-rating-date {
  margin: 6px 0;
  align-items: center;
}

.review-rating {
  margin-right: 6px;
}

.review-date {
  color: #666;
}

.section-header {
  margin-bottom: 11px;
}

.biz-page-review-info {
  padding-top: 18px;
}

.review-form-input {
  padding: 18px 15px 0 15px;
  border: solid 1px #999;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 12px;
}

.review-form-input:focus-within {
  border-color: #0073bb;
  box-shadow: 0 0 4px rgba(0,115,187,0.3);
  color: #333;
}

.review-textarea-wrapper {
  padding-top: 11px;
}

.review-textarea{
  border: none;
  resize: none;
  height: 152px;
  min-height: 156px;
  font-size: 14px;
  padding: 2px;
  width: 100%;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.review-button-container {
  align-items: center;
}

.review-button-container button {
  margin-right: 10px;
}

.review-button-container a {
  padding: 5px 0;
}

.review-button-container a:hover {
  text-decoration: underline;
}

.review-samples .user-profile-pic {
  height: 30px;
  width: 30px;
}

.review-samples .review-index-item {
  flex-direction: column;
}

.rating-stars {
  margin-bottom: 18px;
}

.review-form-wrapper label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 6px;
}

.biz-img {
  width: 60px;
  height: 60px;
  margin-right: 12px;
}

.biz-img img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
}

.review-biz-info {
  margin-bottom: 12px;
}

.review-biz-name {
  font-size: 14px;
  font-weight: bold;
}

.review-biz-details div:not(:first-child) {
  font-size: 12px;
}

.review-biz-details div:not(:last-child) {
  margin-bottom: 2px;
}

.user-info p {
  font-size: 12px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.user-info b {
  font-weight: bold;
  font-size: 12px;
}
[placeholder]:focus::-webkit-input-placeholder { color:transparent !important; }
[placeholder]:focus:-moz-placeholder { color:transparent !important; } /* FF 4-18 */
[placeholder]:focus::-moz-placeholder { color:transparent !important; } /* FF 19+ */
[placeholder]:focus:-ms-input-placeholder { color:transparent !important; } /* IE 10+ */

.rating-input-wrapper {
  padding-bottom: 10px;
}

/* Rating Stars */
.rating {
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.rating-input {
  float: right;
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0 0 0 -23px;
  opacity: 0;
}

.stars-large,
.rating:hover .stars-large {
  // background: url("https://res.cloudinary.com/jun/image/upload/v1506492847/yelp_stars_fhsywr.png");
  background: url("https://res.cloudinary.com/jun/image/upload/v1506653249/welp_stars-light_ppoakw.png");
  cursor: pointer;
  position: relative;
  display: block;
  width: 25px;
  height: 24px;
}

.rating:hover .stars-large:hover,
.rating:hover .stars-large:hover ~ .stars-large,
.rating-input:checked ~ .stars-large {
    background-position: 0 344px;
}

.stars-lrg {
  background: transparent url("https://res.cloudinary.com/jun/image/upload/v1506653249/welp_stars-light_ppoakw.png") no-repeat;
  background-position: 0px -240px;
  left: 0;
  width: 200px;
  height: 180px;
}

.stars-lrg-0 {
  height: 24px;
  background-position: 0 0;
}

.stars-lrg-1 {
  height: 24px;
  background-position: 0 -24px;
}

.stars-lrg-1-5 {
  height: 24px;
  background-position: 0px -48px;
}

.stars-lrg-2 {
  height: 24px;
  background-position: 0px -72px;
}

.stars-lrg-2-5 {
  height: 24px;
  background-position: 0px -96px;
}

.stars-lrg-3 {
  height: 24px;
  background-position: 0px -120px;
}

.stars-lrg-3-5 {
  height: 24px;
  background-position: 0px -144px;
}

.stars-lrg-4 {
  height: 24px;
  background-position: 0px -168px;
}

.stars-lrg-4-5 {
  height: 24px;
  background-position: 0px -192px;
}

.stars-lrg-5 {
  height: 24px;
  background-position: 0px -216px;
}

.stars-med {
  background: transparent url("https://res.cloudinary.com/jun/image/upload/v1506653249/welp_stars-light_ppoakw.png") no-repeat;
  background-position: 0px -240px;
  left: 0;
  width: 102px;
  height: 180px;
}

.stars-med-0 {
  width: 102px;
  height: 18px;
  background-position: 0px -240px;
}

.stars-med-1 {
  width: 102px;
  height: 18px;
  background-position: 0px -258px;
}

.stars-med-1-5 {
  width: 102px;
  height: 18px;
  background-position: 0px -276px;
}

.stars-med-2 {
  width: 102px;
  height: 18px;
  background-position: 0px -294px;
}

.stars-med-2-5 {
  width: 102px;
  height: 18px;
  background-position: 0px -312px;
}

.stars-med-3 {
  width: 102px;
  height: 18px;
  background-position: 0px -330px;
}

.stars-med-3-5 {
  width: 102px;
  height: 18px;
  background-position: 0px -348px;
}

.stars-med-4 {
  width: 102px;
  height: 18px;
  background-position: 0px -366px;
}

.stars-med-4-5 {
  width: 102px;
  height: 18px;
  background-position: 0px -384px;
}

.stars-med-5 {
  width: 102px;
  height: 18px;
  background-position: 0px -402px;
}

.stars-small {
  background: transparent url("https://res.cloudinary.com/jun/image/upload/v1506653249/welp_stars-light_ppoakw.png") no-repeat;
  left: 0;
  background-position: 0px -420px;
  width: 82px;
  height: 140px;
}
